.item-text .name-container{
    justify-content:space-between;
    display: flex;
}
.item-text p {
    margin-bottom: 0px;
}
.item-text .last-message{
    padding-bottom: 0.5em;
}

.item-selected{
    background-color: #D8D8D8;
}
.list-container .list-item:hover{
    background-color: #C0C0C0;
}
